body {
    background-color: fuchsia;   
}

img {
    display: flex;
}

.Name {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', 'Helvetica', sans-serif;
    justify-content: center;
}

.NavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

